<div class="contact-info contact-info--left">
  <ul>
    <li>
      <a href="https://github.com/JaLoXxD" target="_blank" rel="noopener" title="GitHub"><app-icon name="github" /></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jorgehidalgo512/" target="_blank" rel="noopener" title="LinkedIn"
        ><app-icon name="linkedin"
      /></a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/send?phone=593989342712&text=Hola" target="_blank" rel="noopener" title="WhatsApp"
        ><app-icon name="whatsapp"
      /></a>
    </li>
  </ul>
  <div class="contact-info__line"></div>
</div>

<div class="contact-info contact-info--right">
  <a href="mailto:jororlando512@gmail.com" class="contact-info__mail">jororlando512&#64;gmail.com</a>
  <div class="contact-info__line"></div>
</div>
