.footer {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--color-accent-light);
  margin-top: 55px;

  p {
    font-size: 22px;
    margin: 40px 0;
  }
}

@media (max-width: 600px) {
  .footer {
    width: 70%;
    margin: 0 auto;

    p {
      font-size: 15px;
    }
  }
}
